<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Resume - Start Bootstrap Theme</title>

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <!-- Custom styles for this template -->

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Ahmed Boghdady</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/images/profile.jpg" alt="">

      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Ahmed
          <span class="text-primary">Boghdady</span>
        </h1>
        <div class="subheading mb-5">55 Street Youth Housing · El Obour City -Egypt
          , (010) 63819191 ·
          <a href="mailto:name@email.com">ahmed.bogha@gmail.com</a>
        </div>
        <p class="lead mb-5">Attain the position of "Senior.Net Developer" to implement my exceptional software
          development skills using new and improved technological tools and techniques for
          the development of the organization.</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Senior Full-Stack Developer
            </h3>
            <div class="subheading mb-3">Excel Systems</div>
            <p>Collaborate with Product Owner and Scrum team to produce software design and architecture.
            </p>
            <p>
              Also responsible for doing code reviews and develop clean code using Microservices Architecture,Asp.NET Core Web API,CQRS
Domain Driven Design Pattern and ِAngular
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2021  – current</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Senior Full-Stack Developer</h3>
            <div class="subheading mb-3">Freelancer.com</div>
            <p>Developing and Creating Pages and Solve Technical Problems at Payment System Using .net Core 2.1 Web API , Micro Services , Jquery
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March2020 – May2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Full-Stack Developer</h3>
            <div class="subheading mb-3">IT-BLOCKS</div>
            <p>SAD [Cars,Contracts,HR] :
              Developing and Creating Pages and Screens Solve technical problems Using ASP.Net MVC5,SQL Server 2017.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April2019 – March2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Junior Full-Stack Engineer</h3>
            <div class="subheading mb-3">KHABEER Software Industries</div>
            <p>Prime Care :
              Developing and Creating Pages and Screens at Medical Care System and Solve technical problems for
              hospitals, Using ASP.NET , JavaScript , C# , HTML5, Bootstrap , Jquery ,XSLT, and WCF and Oracle 10g.
            </p>
            <P>
              Implemented a monitoring dashboard with visual graphs and alerting mechanism.
            </P>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October  2016  – Apr 2019 </span>
          </div>
        </div>



      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Diploma</h3>
            <div class="subheading mb-3">Information Technology Institute Professional Web Development
            </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2015 - June 2016</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Suez Canal University</h3>
            <div class="subheading mb-3">Bachelor of Engineering </div>
            <div>Computer Science</div>
            <p>Overall Grade: 63.15%
              <br>
              Graduation Project Grade: Excellent
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2010 - May 2015</span>
          </div>
        </div>



      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages

        </div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            C#</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            JAVA</li>
        </ul>

        <div class="subheading mb-3">Databases</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Microsoft SQL Server</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Oracle 10g
          </li>

        </ul>
        <div class="subheading mb-3">Software Engineering Methodologies
        </div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Good knowledge of OOP && SOLID Principles</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Entity Framework [Code First , Database First]
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Micro service Architecture , Onion Architecture
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Domain Driven Design

          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            CQRS
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Event Driven Architecture
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Event Bus
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Message Broker (RabbitMQ , EasyNetQ)
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            GRPC
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile [Scrum, JIRA ]
          </li>
        </ul>
        <div class="subheading mb-3">Web Design
        </div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Html5 ,Css3, JavaScript</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            JQuery , JqueryUI
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Angular [6: 13]
          </li>
        </ul>
        <div class="subheading mb-3">Software Development Tools
        </div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            GitHub</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Azure Devops
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Bitbucket
          </li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier
          and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and
          kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows,
          I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements
          in the front-end web development world.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
        </ul>
      </div>
    </section>

  </div>



</body>

</html>
