<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Creative CV</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    
    </ul>
  </div>
</nav>
<div class="alert alert-primary" role="alert">
  Career Objective:  
</div>
<div class="alert alert-secondary" role="alert">
  Attain the position of ".Net Developer" to implement my exceptional software development skills using new and improved technological tools and techniques for 
  the development of the organization.  
</div>
<div class="alert alert-primary" role="alert">
  Education:
</div>
<div class="alert alert-secondary" role="alert">
  2010–2015 	 
 B.Sc. of Electrical Engineering – Faculty of Engineering - Suez Canal University
Dept. Computer& Control  Overall Grade: 63.15%
 Project Title: Remote Control via Microcontroller
Graduation Project Grade: Excellent 
2005–2010 	 
Advanced Technical Experimental School for Information Technology
</div>
<div class="alert alert-primary" role="alert">
  Experience:
</div>
<div class="alert alert-secondary" role="alert">
  •	IT-BLOCKS                                     [ Dot Net Developer ]              Apr2019 – Present
•	KHABEER Software Industries                     [ Dot Net Developer ]              Sep2017 – Apr2019 
•	Optimal  System  Solutions                       [Dot Net Developer]               Oct2016 – Sep2017
•	SE Wiring  System  Egypt                      [Quality  Control   Engineer]        Nov2015 – June2016
•	Suez  Canal  Authority                   [Trainee  in Electronic  Monitoring]      June2014 –  Oct2014 

</div>
<div class="alert alert-primary" role="alert">
  Technical Skills (General Information):
</div>
<div class="alert alert-secondary" role="alert">
  Web  Technologies:
  -	Web  Development  (ASP.Net  MVC, HTML5 , CSS3  , JavaScript  , JQuery , Bootstrap4, Angular (2,4,6), LINQ ,  EF Code First and Database First  ,  ASP.Net Web API). 
   
  Programming Skills: 
  -	C#  and  C++  and  Java [SE,EE]. 
  -	Good knowledge of Object Oriented Programming and Design Pattern. 
    
  Databases: 
  -	Microsoft  SQL  Server ( 2008 , 2012, 2017) 
  -	Oracle 10g (Sql Developer)
   
  Software Engineering: 
  -	UML 
  -	Understanding of the Software Development life-cycle. 
  
  
</div>