 <!-- About Section
   ================================================== -->
   <section id="about">

    <div class="row">

       <div class="three columns">

          <img class="profile-pic"  src="" alt="" />

       </div>

       <div class="nine columns main-col">

          <h2>About Me</h2>

          <p>Attain the position of ".Net Developer" to implement my exceptional software development skills using new and improved technological tools and techniques for 
            the development of the organization.
          </p>

          <div class="row">

             <div class="columns contact-details">

                <h2>Contact Details</h2>
                <p class="address">
             <span>55 Street Youth Housing</span><br>
             <span>El Obour City <br>
              Egypt 
                   </span><br>
             <span>(010)63819191</span><br>
                   <span>https://aboghdady-angular-app.herokuapp.com/</span>
           </p>

             </div>

             <div class="columns download">
                <p>
                   <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
                </p>
             </div>

          </div> <!-- end row -->

       </div> <!-- end .main-col -->

    </div>

 </section> <!-- About Section End-->